.container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.todo {
    margin: 10px;
}

.todo button {
    margin-left: 10px;
}

.remove-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #d64533;
}